@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --blue:#2980b9;
    --red: tomato;
    --orange:orange;
    --black:#333;
    --white:#ffffff;
    --bg-color:#eee;
    --dark-bg:rgba(0,0,0,.7);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --squid-ink: #232f3e;
    --prime-blue: #1a98ff;
    --border:.1rem solid #999;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background: #eee
}


/*----------------------------------------------------------------------------------------*/
/* ---------------------------------------- LOGIN ----------------------------------------*/
/*----------------------------------------------------------------------------------------*/

/* ---------------------------------------- LOGIN -> Form Container*/
.login-form-container {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee
}

/* ---------------------------------------- LOGIN -> Form*/
.login-form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff; 
    text-align: center;  
    width: 500px;
}

/* ---------------------------------------- LOGIN -> Form -> Links*/
.login-form-container form a{
    color: var(--prime-blue);
}

/* ---------------------------------------- LOGIN -> Form -> Header*/
.login-form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

/* ---------------------------------------- LOGIN -> Form -> Fields*/
.login-form-container form input,
.login-form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.login-form-container form select option {
    background: #fff;
}

/* ---------------------------------------- LOGIN -> Form -> Button */
.login-form-container form .login-form-btn {
    background: var(--prime-blue);
    color: white;    
    font-size: 20px;        
    width: 20rem;            
    margin: 3rem 0;    
    border-radius: 10px;    
    cursor: pointer;
}

.login-form-container form .login-form-btn:hover {
    background: var(--squid-ink);
}

/* ---------------------------------------- LOGIN -> User or Password Error Message */
.login-error-msg {    
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
}



/*----------------------------------------------------------------------------------------*/
/* ---------------------------------------- SIGN UP --------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.signup-form-container {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee
}

/* ---------------------------------------- LOGIN -> Form*/
.signup-form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff; 
    text-align: center;  
    width: 500px;
}

/* ---------------------------------------- LOGIN -> Form -> Links*/
.signup-form-container form a{
    color: var(--prime-blue);
}

/* ---------------------------------------- LOGIN -> Form -> Header*/
.signup-form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

/* ---------------------------------------- LOGIN -> Form -> Fields*/
.signup-form-container form input,
.signup-form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.signup-form-container form select option {
    background: #fff;
}

.signup-form-container form label {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

/* ---------------------------------------- LOGIN -> Form -> Button */
.signup-form-container form .signup-form-btn {
    background: var(--prime-blue);
    color: white;    
    font-size: 20px;        
    width: 20rem;            
    margin: 3rem 0;    
    border-radius: 10px;    
    cursor: pointer;
}

.signup-form-container form .signup-form-btn:hover {
    background: var(--squid-ink);
}

/* ---------------------------------------- LOGIN -> User or Password Error Message */
.signup-error-msg {    
    margin:10px 0;
    display: block;
    background: crimson;
    color:#fff;
    border-radius: 5px;
    font-size: 20px;
    padding:10px;
}
