@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


/* ---------------------------------------------------------------- Container */
.header {
    background-color: var(--squid-ink);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: center;    
    z-index: 1000;
    max-height: 25vh;
}

/* ---------------------------------------------------------------- Distribution Area */
.header .flex {
    display: flex;
    padding: 1.5rem 0;
    align-items: center;    
    justify-content: center;       
    text-align: center;    
}

.header .flex .flex-item {
    width: 30%;
}

/* ---------------------------------------------------------------- Title */
.header .flex .title{    
    display: flex;  
    align-items: center;           
    justify-content: center; 
    text-align: center;
}

.header .flex h1{    
    font-size: 1.8rem;
    color: var(--white);
    font-weight: 400;
}

.header .flex h1 strong {
    color: yellow;
}

.header .flex .title .title-item{
    padding: 0 1.5rem;
}

/* ---------------------------------------------------------------- Links */
.header .flex .navbar a {
    padding: .8rem;
    font-size: 1.3rem;
    color: var(--white);
}

/* ---------------------------------------------------------------- Logos */
.header .flex .header-img{
    height: 8em;
}

/* ---------------------------------------------------------------- Navbar */

.header .flex .navbar a:hover{
    color:var(--prime-blue);  
    background-color: var(--white);
    border-radius: 1rem;    
}

.header .flex .navbar .logout{
    background-color: var(--prime-blue);
    border-radius: 1rem;
    font-weight: 500;    
}

.header .flex .navbar .logout:hover{  
    color: var(--white);  
    background-color: var(--red);
}

#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--white);
    display: none;
}








