@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue:#2980b9;
    --red: tomato;
    --orange:orange;
    --black:#333;
    --white:#fff;
    --bg-color:rgb(189, 188, 188);
    --dark-bg:rgba(0,0,0,.7);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid #999;
}

a{
    text-decoration: none;/*text-transform: capitalize;*/
}

.container-report{
    width: 80%;
    margin: 0 auto;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 2rem;
}

.heading-h2{
    text-align: center;
    font-size: 3rem;    
    color: var(--black);
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btn-container{
    display: block;
    justify-content: center;
}

.report-btn{
    display: block;
    width: 15%;
    margin: auto;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.5rem;
    padding: 1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}

.container-report-table{        
    width: 90%;
    margin: 0 auto;
    text-align: center;  
    overflow: scroll;         
}

.report-table{    
    margin-top: 3rem;
    table-layout: fixed;
    width: 100%;
}

.report-th {
    background-color: var(--black);
    color: white;
    font-size: 1.5em;           
}

.report-td {    
    font-size: 1.2em;           
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;    
    word-wrap: break-word;  
}

.report-tr{
    border: var(--border);
}

.report-tr:nth-child(odd){
    background-color: var(--bg-color);
}